.arrowUp button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    padding: .5rem 1.2rem;
    margin: .25rem 0;
    font-size: 2rem;
    color: white;
    background-color: forestgreen;
    border: none;
    border-radius: 1rem;
}

.arrowsLow button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    padding: .5rem 1.2rem;
    margin: .25rem .1rem;
    font-size: 2rem;
    color: white;
    background-color: forestgreen;
    border: none;
    border-radius: 1rem;
}